.app {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.status-bar {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  padding: 20px;
  background: rgba(255, 255, 255, 0.9);
}

/* 1. Indenting needed to properly center the text */
.status-bar__heading {
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1em;
  text-indent: 1em; /* [1] */
}

.status-bar__status {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  color: #a8269b;
}

.grid {
  flex-grow: 1;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(3, -webkit-min-content);
  grid-template-columns: repeat(3, min-content);
  grid-gap: 20px;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 10px;
}

@media screen and (min-width: 500px) {
  .grid {
    grid-template-columns: repeat(4, -webkit-min-content);
    grid-template-columns: repeat(4, min-content);
  }
}

.grid-tile {
  display: block;
  position: relative;
  width: 100px;
  height: 100px;
  filter: drop-shadow(0 3px 4px rgba(0, 0, 0, 0.3));
}

/* Never remove focus outline for keyboard users */
html:not(.keyboarduser) .grid-tile:focus {
  outline: 0;
}

@keyframes reveal {
  0% {
    transform: rotateY(180deg) scale(1);
  }
  50% {
    transform: rotateY(50deg) scale(1.1);
  }
  100% {
    transform: rotateY(0deg) scale(1);
  }
}

@keyframes hide {
  0% {
    transform: rotateY(0deg) scale(1);
  }
  50% {
    transform: rotateY(130deg) scale(1.1);
  }
  100% {
    transform: rotateY(180deg) scale(1);
  }
}

.grid-tile__inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  perspective: 600px;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
}

.grid-tile--revealed .grid-tile__inner {
  animation: reveal 0.5s forwards;
}

.grid-tile--hidden .grid-tile__inner {
  animation: hide 0.5s forwards;
}

.grid-tile__front {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 4px;
  border: 5px solid #fff;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* 1. translateZ needed in Safari when rotating */
.grid-tile__back {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 4px;
  overflow: hidden;
  background: repeating-linear-gradient(
    45deg,
    #a8269b,
    #a8269b 3px,
    #d75acd 3px,
    #d75acd 6px
  );
  border: 5px solid #fff;
  transform: rotateY(180deg) translateZ(1px); /* [1] */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
