.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 20%));
  grid-gap: 10px;
  padding: 10px;
}

.grid__tile {
  display: block;
  opacity: 0.25;
}

.grid__tile--revealed {
  opacity: 1;
}
